body {
  height: 100vh;
  margin: 0;
}
.conteiner {
  width: 1000px;
  height: 500px;
  background-color: steelblue;
  margin: auto;
  overflow: hidden;
}
.block {
  width: 200px;
  height: 200px;
  background-color: bisque;
  /* nazvanie animacyy */
  /* animation-name: blockAnimation;
  /* vremya za kotoroe on prohodit  */
  /* animation-duration: 3.4s; */
  /* skorost animacyy v nachale i v konce */
  /* animation-timing-function: ease-out; */
  /* vremya perd nachalom  */
  /* animation-delay: 1s; */
  /* kolichestvo povtora */
  /* animation-iteration-count: infinite; */
  /* vozvrashaet nazad */
  /* animation-direction: alternate  */
  animation: blockAnimation2 10s ease-out 1s infinite alternate;
}
@keyframes blockAnimation {
  /* from- orkuda nachalo  */
  from {
    margin-top: 0;
  }
  /* gde prohodit deystvie */
  to {
    margin-top: 300px;
    margin-left: 800px;
  }
}
@keyframes blockAnimation2 {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 430px;
    margin-left: 400px;
  }
  30% {
    margin-top: 350px;
    margin-left: 10px;
  }
  50% {
    margin-top: 430px;
    margin-left: 30pxpx;
  }
  75% {
    margin-top: 450px;
    margin-left: 214px;
  }
  80% {
    margin-top: 80px;
    margin-left: 140px;
  }
  100% {
    margin-top: 300px;
    margin-left: 800px;
  }
}
